[Desktop Entry]
Type=Application
Exec=/usr/bin/guake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Guake Terminal
Name=Guake Terminal
Comment[en_CA]=
Comment=
X-GNOME-Autostart-Delay=0
